body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #2D2929
}

.slide-banner img
{
    width: 1116px;
    height: 500px;
}

.slide-banner
{
    margin-top: 5px;
    width: 100%;
    height: 500px;
    overflow: hidden;
    display: flex;
}
.slide
{
    transition: .6s;
}

#slide1:checked ~ .s1 
{
margin-left: 0;
}

#slide2:checked ~ .s1
{
    margin-left: -100%;
}

#slide3:checked ~.s1
{
    margin-left: -200%;
}

.nav
{
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    position: absolute;
}

.bar
{
    width: 12px;
    height: 12px;
    border: 2px solid whitesmoke;
    border-radius: 60px;
    margin: 5px;
    cursor: pointer;
    transition: .6s;
}

.bar:hover
{
    background-color:  rgba(108, 106, 237, 1);
    width: 25px;
    height: 12px;
}

.slide-banner input
{
    display: none;
}

.container7{
    width: 100%;
    height: 50px;
    display: flex;
    margin-top: 5px;
    justify-content: space-around;
    background-color:  rgba(0, 0, 0, 0.082);
}

.security{
    display: flex;
    align-items: center;
    width: 200px;
}
.security i{
    font-size: 25px;
    color: white;
    margin: 5px;
}
.security p{
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    font-weight: 600;
}

.payment{
    display: flex;
    align-items: center;
    width: 200px;
}
.payment i{
    font-size: 25px;
    color: white;
    margin: 5px;
}
.payment p{
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    font-weight: 600;
}

.fast-travel{
    display: flex;
    align-items: center;
    width: 200px;
}
.fast-travel i{
    font-size: 25px;
    color: white;
    margin: 5px;
}
.fast-travel p{
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    font-weight: 600;
}

.chat{
    display: flex;
    align-items: center;
    width: 200px;
}
.chat i{
    font-size: 25px;
    color: white;
    margin: 5px;
}
.chat p{
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    font-weight: 600;
}

.container8{
    margin-top: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}


.container8 a p{
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    background-color: #4C52F5;
    width: 550px;
    height: 50px;
    border-radius: 5px;
}

.sub-c a{
    text-decoration: none;
}

.sub-c2 a{
    text-decoration: none;
}

.container9{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    margin-top: 10px;
}

.container9 img{
    width: 100px;
    height: 100px;
}

.container10{
    width: 1129px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.082);
}




.rodape
{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.082);
    margin-bottom: 15px;
    margin-top: 10px;
}

.atendimento
{
    font-size: 1rem;
    font-weight: 400;
    font-family: sans-serif;
    color: whitesmoke;
    justify-items: center;
    align-items: center;
   
}

.atendimento p
{
    text-align: center;
}

.atendimento ul li 
{
    list-style: none;
    text-decoration: none;
    line-height: 2;
    text-transform: uppercase;
}

.atendimento a
{
    color: whitesmoke;
    text-decoration: none;

}

.atendimento a:hover
{
    text-decoration: underline;
}

.institucional
{  
    font-size: 1rem;
    font-weight: 400;
    font-family: sans-serif;
    color: whitesmoke;
    justify-items: center;
}

.institucional p
{
    text-align: center;
}

.institucional ul li
{
    list-style: none;
    text-decoration: none;
    line-height: 2;
}

.institucional a
{
    color: whitesmoke;
    text-decoration: none;
}

.institucional a:hover
{
    text-decoration: underline;
}

.linha1
{
    height: 100px;
    width: 1px;
    background-color: whitesmoke;
}
.linha
{
    height: 100px;
    width: 1px;
    background-color: whitesmoke;
}

.formas-de-pag
{
    align-content: center;
    margin-right: 20px;
}
.formas-de-pag p
{
    color: whitesmoke;
    text-align: center;
    font-size: 1rem;
    font-family: sans-serif;

}
.l-pag img
{
    height: 60px;
    width: 60px;
}

.s-pag img
{
    height: 50px;
    width: 130px;
}

@media only screen and (max-width: 1200px) {
    .container8 a p{
        width: 450px;
        height: 40px;
    }
}

@media only screen and (max-width: 991px) {
    .container{
        max-width: 99%;
    }
    .header1{
        display: none;
    }
    .header2 a, i{
        display: none;
    }
    .header3{
        display: none;
    }

    .menu-bar{
    display: inline-flex;
    flex-wrap: wrap;
    width: 32px;
    height: 32px;
    align-items: center;
    cursor: pointer;
    }
    .menu-bar div{
        height: 3px;
        width: 32px;
        background-color: white;
    }

    .slide img{
        width: 940px;
        height: 450px;
    }
    .slide-banner .nav{
        display: none;
    }
    .slide-banner{
        height: 450px;
    }
}

@media only screen and (max-width: 950px){
.container8{
    display: none;
}
}

@media only screen and (max-width:942px){
    .atendimento{
        display: none;
    }
    .institucional{
        display: none;
    }
    
    .rodape{
        justify-content: space-around;
    }
    .linha1{
        display: none;
    }

    .saiba-mais{
        border-radius: 3px;
        background-color: white;
        width: 120px;
        text-align: center;
    }
    .saiba-mais a{
        text-decoration: none;
        padding: 12px;
        font-size: 20px;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.829);
        font-family: 'PT Sans', sans-serif;
    }
    
    .saiba-mais:hover{
    background-color: rgba(255, 255, 255, 0.719);
    }

}